@media screen and (min-width: 1024px) {
  p {
    color: darkcyan;
  }

  main {
    display: flex;
    justify-content: center;
    text-align: center;
  }

  p {
    color: pink;
  }

  .nintendo-logo {
    width: 150px;
  }

  .nintendo-seal {
    width: 200px;
  }

  .animal-crossing-wordmark {
    display: flex;
    width: 250px;
  }

  .letter {
    display: flex;
    width: 50px;
  }

  .nintendo-seal {
    width: 100px;
  }

  .animal {
    width: 30vw;
  }

  .text-on-img-wrapper {
    position: relative;
    text-align: center;
  }

  .speech-bubble {
    width: 60vw;
  }

  .centered-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  .sign-up-box {
    width: 90vw;
  }

  label,
  button,
  input {
    margin: 1%;
  }

  .green-logo {
    max-width: 200px;
    width: 10vw;
    border-radius: 10px;
  }
}
