@media screen and (min-width: 1024px) {
  .preload-animation {
    width: 10vw;
    background-color: white;
    border-radius: 50%;
  }

  .pattern-bg-img {
    width: 100vw;
    display: flex;
    align-self: center;
    align-items: center;
    justify-content: center;
    background-image: url('/public/assets/img/pattern.png');
    background-size: cover;
    flex-direction: column;
  }

  .nintendo-logo {
    width: 150px;
    margin: 1%;
  }

  .animal-crossing-wordmark {
    display: flex;
    margin: 1%;
    width: 300px;
  }

  .camp-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .camp-img {
    display: flex;
    width: 100vw;
  }

  .camp-text {
    background-image: url('/public/assets/img/red-white-blue-letter.png');
    background-size: 100% 100%;
    font-size: 3.2rem;
    position: relative;
    width: 50vw;
    padding: 5%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 15px;
  }

  .animal {
    width: 20vw;
  }

  .animal-round {
    display: none;
  }

  .text-on-img-wrapper {
    position: relative;
    text-align: center;
  }

  section {
    margin: 2%;
    display: flex;
    flex-direction: row;
  }

  .isabelles-section {
    flex-direction: row-reverse;
  }

  .speech-bubble {
    width: 60vw;
  }

  .speech-bubble-text,
  .toms-text {
    font-size: 1.7rem;
    width: 55vw;
    margin: 1%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  .text-position {
    display: flex;
    width: 50vw;
    font-size: 1.7rem;
    bottom: 150px;
  }

  .register-header {
    padding-top: 14%;
    font-size: 3rem;
    padding-left: 25%;
  }

  .register-paragraph {
    font-size: 1.5rem;
    width: 60vw;
    padding-left: 25%;
  }

  .register-info {
    align-self: flex-start;
  }

  .register-bg {
    height: 150vh;
    display: flex;
    background-image: url('/public/assets/img/sign-up-box.png');
    flex-direction: column;
    background-size: 100% 90%;
    width: 100vw;
    background-position: center center;
    background-repeat: no-repeat;
    justify-content: center;
    text-align: left;
  }

  form {
    display: flex;
    flex-direction: column;
    justify-content: left;
    margin: 1%;
    padding-left: 20%;
    font-size: 1.5rem;
  }

  input {
    display: flex;
    flex-direction: row;
    font-size: 1.5rem;
    margin: 1%;
    border: none;
    height: 4vh;
    width: 40vw;
  }

  button {
    margin: 2%;
    font-size: 1.5rem;
    text-align: center;
    width: 20vw;
    border-radius: 30px;
    cursor: pointer;
  }

  .love-letter {
    max-width: 800px;
    align-self: center;
  }

  .timmy-tommy {
    display: flex;
    align-self: center;
    width: 60vw;
    max-width: 700px;
    margin: 5%;
  }

  footer {
    display: flex;
    padding-top: 20vh;
    justify-content: center;
    flex-direction: column;
    background-size: cover;
    background-repeat: no-repeat;
    background-image: url('/public/assets/img/bottom-box.png');
  }

  footer {
    display: flex;
    padding-top: 20vh;
    justify-content: center;
    flex-direction: column;
    background-size: cover;
    background-repeat: no-repeat;
    background-image: url('/public/assets/img/bottom-box.png');
  }

  .footer-info-wrapper {
    display: flex;
    font-size: 2rem;
    flex-direction: column;
    align-self: left;
    padding-top: 8%;
    padding-left: 8%;
  }

  .happy-campers {
    position: relative;
    left: 300px;
    width: 65vw;
    max-width: 900px;
  }

  .nintendo-online {
    width: 13vw;
    padding: 2%;
  }

  .nintendo-seal {
    display: flex;
    width: 13vw;
    padding: 2%;
  }

  .footer-logos {
    display: flex;
    justify-content: left;
    padding: 2%;
  }

  a {
    text-decoration: none;
  }

  .creators {
    display: flex;
    flex-direction: row;
    margin: 2%;
    display: flex;
    justify-content: space-evenly;
    font-size: 1.5rem;
  }

  .nb {
    display: flex;
    margin: 2%;
    font-style: italic;
    align-self: center;
    font-size: 0.9rem;
  }
}
