@media screen and (min-width: 1024px) {
  .preload-logo-animation {
    background-color: white;
    border-radius: 50%;
    width: 270px;
  }

  header {
    padding: 2%;
  }

  .header-bg-pattern {
    align-items: center;
    align-self: center;
    background-image: url('/public/assets/img/pattern.png');
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100vw;
  }

  .nintendo-yellow {
    margin: 1%;
    height: auto;
    width: 150px;
  }

  .animal-crossing-wordmark {
    display: flex;
    margin: 1%;
    width: 300px;
    height: auto;
  }

  .camp-wrapper {
    display: flex;
    flex-direction: column;
    height: auto;
    justify-content: center;
    width: 100vw;
  }

  .camp-img {
    border-color: white;
    border-style: solid;
    border-width: 50px;
    display: flex;
    max-height: 600px;
    object-fit: cover;
    width: 100vw;
  }

  .camp-text {
    background-image: url('/public/assets/img/letter-rwb.png');
    background-repeat: no-repeat;
    background-size: 100% 100%;
    border-radius: 4px;
    font-size: 3.2rem;
    left: 50%;
    max-width: 700px;
    padding: 5%;
    position: relative;
    top: 50%;
    transform: translate(-50%, -30%);
    width: 60vw;
  }

  .bg-gradient {
    background: linear-gradient(
      0deg,
      var(--color1),
      rgb(167, 210, 255),
      var(--color2),
      rgb(199, 255, 165),
      rgb(181, 230, 181),
      rgb(255, 198, 129)
    );
  }

  .animal {
    max-width: 300px;
    width: 20vw;
  }

  .animal-round {
    display: none;
  }

  .text-on-img-wrapper {
    position: relative;
    text-align: center;
  }

  .bg-gradient {
    align-items: center;
    display: flex;
    flex-direction: column;
  }

  section {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 1%;
    width: 100vw;
  }

  .personalized-name {
    color: darkgreen;
    font-weight: bold;
  }

  .isabelles-section {
    flex-direction: row-reverse;
  }

  .speech-bubble {
    max-width: 500px;
    width: 60vw;
  }

  .toms-text {
    bottom: 6px;
  }

  .speech-bubble-text {
    font-size: 17px;
    left: 50%;
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 420px;
  }

  .text-position {
    bottom: 70px;
    display: flex;
    font-size: 17px;
    width: 420px;
  }

  .register-header {
    font-size: 50px;
    margin: 5%;
    max-width: 800px;
  }

  .register-paragraph {
    display: flex;
    max-width: 600px;
    padding: 1%;
    text-align: center;
  }

  .register-info {
    align-items: center;
    background-color: white;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    font-size: 18px;
    justify-content: center;
    margin: 1%;
    max-height: 750px;
    max-width: 660px;
    object-fit: contain;
    padding: 1%;
  }

  .register-bg {
    align-items: center;
    background-image: url('/public/assets/img/pattern.png');
    background-size: cover;
    border-color: white;
    border-radius: 25px;
    border-style: solid;
    border-width: 25px;
    display: flex;
    flex-direction: column;
    height: 700px;
    justify-content: center;
    margin: 7%;
    max-height: 900px;
    max-width: 900px;
    width: 80vw;
  }

  form {
    display: flex;
    flex-direction: column;
    margin: 1%;
    max-width: 500px;
    padding: 1%;
  }

  .register-button {
    align-self: center;
    background-color: var(--baby-blue);
    border-radius: 50px;
    border-style: none;

    cursor: pointer;
    font-size: 20px;
    font-weight: bolder;
    height: 50px;
    margin: 3%;
    width: 150px;
  }

  .register-button:hover,
  .register-button:focus {
    box-shadow: 0px 0px 5px 5px cornflowerblue;
    transition: box-shadow 200ms ease-in;
  }

  input {
    align-self: center;
    border: none;
    display: flex;
    font-size: 18px;
    height: 5vh;
    margin: 3%;
    max-width: 800px;
    padding: 2%;
  }

  label {
    font-size: 25px;
    font-weight: bolder;
    max-width: 500px;
    position: relative;
    right: 200px;
    top: 1px;
  }

  .bottom-border {
    width: 100vw;
  }

  footer {
    background-color: var(--yellow);
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .footer-email-phone-text {
    align-self: left;
    display: flex;
    flex-direction: column;
    font-size: 25px;
    padding-left: 8%;
    padding-top: 6%;
  }

  .happy-campers {
    left: 300px;
    max-width: 800px;
    position: relative;
    width: 60vw;
  }

  .nintendo-red {
    height: auto;
    width: 100px;
  }

  .nintendo-seal {
    height: auto;
    width: 100px;
  }

  .footer-logos {
    display: flex;
    justify-content: left;
    padding-left: 2%;
    margin: 2%;
  }

  a {
    text-decoration: none;
  }

  .creators {
    display: flex;
    display: flex;
    flex-direction: row;
    font-size: 20px;
    gap: 1rem;
    justify-content: space-evenly;
    margin: 2%;
  }

  .nb {
    align-self: center;
    display: flex;
    font-size: 12px;
    font-style: italic;
    margin: 2%;
  }
}
