@media screen and (max-width: 1023px) and (min-width: 561px) {
  .preload-animation {
    width: 10vw;
    background-color: white;
    border-radius: 50%;
  }

  header {
    background-image: url('/public/assets/img/pattern.png');
    display: flex;
    justify-content: center;
    padding: 5%;
  }

  .pattern-bg-img {
    width: 100vw;
    display: flex;
    align-self: center;
    align-items: center;
    justify-content: center;
    background-image: url('/public/assets/img/pattern.png');
    background-size: cover;
    flex-direction: column;
  }

  .nintendo-logo {
    width: 100px;
    margin: 1%;
  }

  .animal-crossing-wordmark {
    display: flex;
    margin: 1%;
    width: 250px;
  }

  .camp-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: center;
  }

  .camp-img {
    display: flex;
    width: 100vw;
    margin: 2%;
  }

  .camp-text {
    background-image: url('/public/assets/img/red-white-blue-letter.png');
    background-size: 100% 100%;
    font-size: 2.5rem;
    position: absolute;
    width: 50vw;
    padding: 4%;
    top: 80%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 15px;
  }

  .animal {
    width: 25vw;
  }

  .animal-round {
    display: none;
  }

  .text-on-img-wrapper {
    position: relative;
    text-align: center;
  }

  section {
    margin: 2%;
    display: flex;
    flex-direction: row;
  }

  .isabelles-section {
    flex-direction: row-reverse;
  }

  .speech-bubble {
    width: 65vw;
  }

  .speech-bubble-text {
    font-size: 1.2rem;
    width: 55vw;
    margin: 1%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  .text-position {
    bottom: 80px;
  }

  .nintendo-seal {
    width: 100px;
  }

  label,
  button,
  input {
    margin: 1%;
    width: 50vw;
    font-size: 1.3rem;
  }

  .register-header {
    font-size: 2.2rem;
    margin: 2%;
    display: flex;
    justify-content: center;
  }

  .register-paragraph {
    font-size: 1.3rem;
    display: flex;
    text-align: center;
    margin: 4%;
  }

  .form-alt-bg-img {
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url('/public/assets/img/pattern.png');
    background-size: cover;
    flex-direction: column;
  }

  .register-info {
    background-color: white;
    display: flex;
    flex-direction: column;
    border-radius: 15px;
    justify-content: center;
    width: 80vw;
    margin: 5%;
  }

  .register-button {
    align-self: center;
    font-size: 0.9rem;
    margin: 7vw;
    width: 30vw;
    height: 8vh;
    border-radius: 30px;
    cursor: pointer;
  }

  input {
    border: none;
    height: 4vh;
    margin: 3%;
  }

  .love-letter {
    max-width: 600px;
    margin: 7%;
    align-self: center;
  }

  .timmy-tommy {
    display: flex;
    align-self: center;
    width: 80vw;
    max-width: 500px;
    padding: 5%;
  }

  footer {
    display: flex;
    padding-top: 20vh;
    justify-content: center;
    flex-direction: column;
    background-size: cover;
    background-repeat: no-repeat;
    background-image: url('/public/assets/img/bottom-box.png');
  }

  .footer-info-wrapper {
    display: flex;
    font-size: 1.7rem;
    flex-direction: column;
    text-align: center;
    align-self: center;
  }

  .happy-campers {
    display: flex;
    align-self: center;
    margin: 5%;
    width: 65vw;
  }

  .nintendo-online {
    width: 13vw;
    padding: 2%;
  }

  .nintendo-seal {
    display: flex;
    width: 13vw;
    padding: 2%;
  }

  .footer-logos {
    display: flex;
    justify-content: left;
    padding: 3%;
  }

  a {
    text-decoration: none;
  }

  .creators {
    margin: 2%;
    display: flex;
    align-self: center;
    font-size: 1rem;
  }

  .nb {
    display: flex;
    margin: 2%;
    font-style: italic;
    align-self: center;
    font-size: 0.9rem;
  }
}
