@media screen and (max-width: 1023px) and (min-width: 561px) {
  .preload-logo-animation {
    background-color: white;
    border-radius: 50%;
    width: 10vw;
  }

  header {
    align-items: center;
    background-image: url('/public/assets/img/pattern.png');
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 2%;
    width: 100vw;
  }

  .nintendo-yellow {
    height: 30px;
    width: 100px;
  }

  .animal-crossing-wordmark {
    display: flex;
    filter: drop-shadow(5px 5px 5px rgb(48, 48, 48));
    margin: 1%;
    width: 300px;
  }

  .camp-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: center;
    position: relative;
    width: 100vw;
  }

  .camp-img {
    display: flex;
    border-style: solid;
    border-width: 25px;
    border-color: white;
    width: 100vw;
  }

  .camp-text {
    background-image: url('/public/assets/img/letter-rwb.png');
    background-size: 100% 100%;
    border-radius: 5px;
    font-size: 35px;
    left: 50%;
    padding: 4%;
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 50vw;
  }

  .bg-gradient {
    align-items: center;
    background: linear-gradient(
      0deg,
      var(--color1),
      rgb(167, 210, 255),
      var(--color2),
      rgb(199, 255, 165),
      rgb(181, 230, 181),
      rgb(255, 162, 216)
    );
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
  }

  .animal {
    filter: drop-shadow(5px 5px 5px rgb(48, 48, 48));
    height: auto;
    max-width: 250px;
  }

  .animal-round {
    display: none;
  }

  .personalized-name {
    color: darkgreen;
    font-weight: bold;
  }

  .text-on-img-wrapper {
    position: relative;
    text-align: center;
  }

  section {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 5%;
    width: 100vw;
  }

  .toms-text {
    bottom: 20px;
  }

  .isabelles-section {
    flex-direction: row-reverse;
  }

  .speech-bubble {
    width: 445px;
  }

  .speech-bubble-text {
    font-size: 15px;
    left: 50%;
    margin: 1%;
    position: absolute;
    top: 51%;
    transform: translate(-50%, -50%);
    width: 380px;
  }

  .text-position {
    bottom: 50px;
  }

  .register-header {
    font-size: 40px;
    margin: 2%;
  }

  .register-paragraph {
    display: flex;
    padding: 2%;
    text-align: center;
  }

  .register-info {
    align-items: center;
    background-color: white;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    font-size: 17px;
    height: 80vh;
    justify-content: center;
    margin: 2%;
    max-width: 800px;
    object-fit: contain;
    padding: 2%;
    width: 65vw;
  }

  .register-bg {
    align-items: center;
    background-image: url('/public/assets/img/pattern.png');
    background-size: cover;
    border-color: white;
    border-radius: 15px;
    border-style: solid;
    border-width: 25px;
    display: flex;
    flex-direction: column;
    margin: 5%;
    width: 80vw;
  }

  form {
    display: flex;
    flex-direction: column;
    margin: 1%;
    padding: 1%;
    text-align: left;
    width: 550px;
  }

  .register-button {
    align-self: center;
    background-color: var(--baby-blue);
    border-radius: 50px;
    border-style: none;
    box-shadow: none;
    cursor: pointer;
    font-size: 20px;
    font-weight: bolder;
    height: 50px;
    margin: 2%;
    width: 150px;
  }

  input {
    align-self: center;
    border: none;
    display: flex;
    font-size: 18px;
    height: 5vh;
    margin: 3%;
    padding: 2%;
    width: 50vw;
  }

  label {
    font-weight: bolder;
    left: 80px;
    position: relative;
    top: 6px;
  }

  .bottom-border {
    position: relative;
    top: 8px;
    width: 100vw;
  }

  footer {
    background-color: var(--yellow);
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .footer-email-phone-text {
    align-self: center;
    display: flex;
    flex-direction: column;
    font-size: 20px;
    position: relative;
    right: 100px;
    text-align: left;
    top: 30px;
  }

  .happy-campers {
    display: flex;
    align-self: center;
    margin: 1%;
    width: 500px;
  }

  .nintendo-red {
    height: auto;
    width: 100px;
  }

  .nintendo-seal {
    height: auto;
    width: 100px;
  }

  .footer-logos {
    display: flex;
    justify-content: left;
    padding-left: 2%;
  }

  a {
    text-decoration: none;
  }

  .creators {
    align-self: center;
    display: flex;
    font-size: 17px;
    gap: 0.5em;
    margin: 2%;
  }

  .nb {
    align-self: center;
    display: flex;
    font-size: 10px;
    font-style: italic;
    margin: 2%;
  }
}
