@media screen and (max-width: 560px) {
  p {
    color: darkcyan;
  }

  header {
    align-items: center;
    background-image: url('/public/assets/img/pattern.png');
    background-size: cover;
    border-radius: 15px;
    display: flex;
    height: auto;
    justify-content: space-evenly;
    margin: 2%;
    padding: 2%;
  }

  .nintendo-logo {
    width: 50px;
    height: max-content;
  }

  .nintendo-seal {
    display: flex;
    width: 50px;
    height: auto;
  }

  .animal-crossing-wordmark {
    display: flex;
    width: 150px;
  }

  .camp {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 90%;
    padding: 3%;
  }

  .camp-text {
    font-size: 1rem;
  }

  section {
    display: flex;
    justify-content: center;
  }

  .animal {
    width: 100px;
    height: auto;
  }

  .speech-bubble-text {
    text-align: justify;
    font-size: 0.4rem;
  }

  .text-on-img-wrapper {
    position: relative;
    text-align: center;
  }

  .speech-bubble {
    width: 60vw;
  }

  .centered-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  .register-header {
    padding-top: 5%;
    display: flex;
    justify-content: center;
  }

  .register-paragraph {
    display: flex;
    text-align: center;
    padding: 2%;
  }

  .register-info {
    background-color: blanchedalmond;
    border-radius: 50px;
    margin: 5%;
    padding: 2%;
  }

  .mobile-form-wrapper {
    display: flex;
    justify-content: center;
  }

  form {
    display: flex;
    flex-direction: column;
    width: 30vw;
    position: relative;
    left: 70px;
    bottom: -15px;
  }

  input {
    border: none;
  }

  .form-bg-img {
    display: flex;
    align-items: center;
    background-image: url('/public/assets/img/sign-up-box.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    width: 90vw;
    height: 350px;
  }

  .register-button {
    display: flex;
    justify-content: center;
    font-size: 0.7rem;
    margin: 1%;
    width: 15vw;
    height: 3vh;
    border-radius: 30px;
    border: none;
    cursor: pointer;
  }

  .footer-info-wrapper {
    font-size: 0.45rem;
    line-height: 0;
  }

  .creators {
    font-size: 0.5rem;
    line-height: 1;
  }

  .footer-logos {
    display: flex;
    width: 1vw;
  }

  .happy-campers {
    width: 60vw;
  }

  .green-logo {
    width: 10vw;
    border-radius: 5px;
  }
}
