@media screen and (max-width: 560px) and (min-width: 0px) {
  .preload-animation {
    width: 50vw;
    background-color: white;
    border-radius: 50%;
  }

  .bg-gradient {
    background: linear-gradient(
      60deg,
      var(--color1),
      var(--color2),
      rgb(238, 228, 178),
      rgb(181, 230, 181),
      mediumseagreen
    );
  }

  header {
    background-image: url('/public/assets/img/pattern.png');
    display: flex;
    justify-content: center;
    padding: 5%;
  }

  .nintendo-logo {
    display: none;
  }

  .animal-crossing-wordmark {
    display: flex;
    width: 70vw;
    filter: drop-shadow(5px 5px 5px rgb(48, 48, 48));
  }

  .camp-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  .camp-img {
    display: flex;
    align-self: center;
    width: 100vw;
  }

  .camp-text {
    background-image: url('/public/assets/img/red-white-blue-letter.png');
    background-size: 100% 100%;
    display: flex;
    align-self: center;
    width: 90vw;
    height: 22vh;
    font-size: 2rem;
    border-radius: 10px;
    text-align: center;
    margin: 5%;
    padding: 6%;
  }

  .text-on-img-wrapper {
    position: relative;
    text-align: center;
  }

  section {
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin: 5%;
  }

  .animal-round {
    display: flex;
    align-self: center;
    width: 200px;
    filter: drop-shadow(7px 7px 7px rgb(48, 83, 64));
  }

  .tom {
    display: none;
  }

  .isabelle {
    display: none;
  }

  .mabel {
    display: none;
  }

  .speech-bubble-text {
    font-size: 0.8rem;
    width: 75vw;
    margin: 1%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  .speech-bubble {
    width: 90vw;
  }

  .text-position {
    bottom: 50px;
  }

  .register-header {
    display: flex;
    justify-content: center;
    margin: 5%;
  }

  .register-paragraph {
    display: flex;
    text-align: center;
    padding: 2%;
  }

  .register-info {
    background-color: white;
    display: flex;
    flex-direction: column;
    border-radius: 15px;
    justify-content: center;
    width: 80vw;
    margin: 5%;
    padding: 5%;
  }

  .form-alt-bg-img {
    border-style: solid;
    border-width: 10px;
    border-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url('/public/assets/img/pattern.png');
    background-size: cover;
    flex-direction: column;
  }

  form {
    display: flex;
    background-color: white;
    flex-direction: column;
    padding: 7%;
    border-radius: 15px;
    margin: 5%;
    text-align: left;
    width: 80vw;
    font-size: 1.3rem;
  }

  .register-button:hover {
    box-shadow: none;
  }

  .register-button {
    align-self: center;
    font-size: 0.9rem;
    margin: 7vw;
    width: 25vw;
    height: 4vh;
    border-radius: 30px;
    cursor: pointer;
  }

  input {
    border: none;
    height: 5vh;
    margin: 2%;
    font-size: 1rem;
    padding: 2%;
  }

  .love-letter {
    width: 90vw;
    margin: 6%;
  }

  .timmy-tommy {
    width: 80vw;
    margin: 10%;
  }

  footer {
    display: flex;
    justify-content: center;
    flex-direction: column;
    background-size: cover;
    background-repeat: no-repeat;
    background-color: var(--color2);
    background-image: url('/public/assets/img/bottom-box.png');
    height: 100vh;
  }

  .footer-info-wrapper {
    display: flex;
    padding-top: 7%;
    flex-direction: column;
    align-self: center;
    line-height: 1.8;
  }

  .happy-campers {
    display: flex;
    align-self: center;
    width: 90vw;
    position: relative;
    top: 60px;
  }

  .nintendo-online {
    width: 15vw;
  }

  .nintendo-seal {
    display: flex;
    width: 50px;
    height: auto;
  }

  .footer-logos {
    display: flex;
    margin: 3%;
    position: relative;
    top: 100px;
    justify-content: space-evenly;
  }

  a {
    text-decoration: none;
  }

  .creators {
    display: flex;
    align-self: center;
    font-size: 0.9rem;
    position: relative;
    top: 100px;
    margin: 2%;
  }

  .nb {
    display: flex;
    align-self: center;
    position: relative;
    top: 110px;
    margin: 2%;
    font-size: 0.5rem;
  }
}
