@media screen and (max-width: 560px) and (min-width: 0px) {
  .preload-animation {
    width: 50vw;
    background-color: white;
    border-radius: 50%;
  }

  .bg-gradient {
    background: linear-gradient(
      0deg,
      var(--color1),
      rgb(167, 210, 255),
      var(--color2),
      rgb(199, 255, 165),
      rgb(181, 230, 181)
    );
  }

  header {
    background-image: url('/public/assets/img/pattern.png');
    display: flex;
    justify-content: center;
    padding: 5%;
  }

  .nintendo-logo {
    display: none;
  }

  .animal-crossing-wordmark {
    display: flex;
    width: 70vw;
    filter: drop-shadow(5px 5px 5px rgb(48, 48, 48));
  }

  .camp-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  .camp-img {
    display: flex;
    align-self: center;
    width: 100%;
    border-style: solid;
    border-width: 19px;
    border-color: white;
  }

  .camp-text {
    background-image: url('/public/assets/img/red-white-blue-letter.png');
    background-size: 100% 100%;
    display: flex;
    align-self: center;
    width: 90vw;
    height: 23vh;
    font-size: 2rem;
    border-radius: 10px;
    text-align: center center;
    margin: 5%;
    padding: 6%;
  }

  .text-on-img-wrapper {
    position: relative;
    text-align: center;
  }

  section {
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin: 5%;
  }

  .animal-round {
    display: flex;
    align-self: center;
    width: 200px;
    filter: drop-shadow(7px 7px 7px rgb(48, 83, 64));
  }

  .tom {
    display: none;
  }

  .isabelle {
    display: none;
  }

  .mabel {
    display: none;
  }

  .personalized-name {
    color: darkgreen;
    font-weight: bold;
  }

  .speech-bubble-text {
    font-size: 0.8rem;
    width: 75vw;
    margin: 1%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  .speech-bubble {
    width: 90vw;
  }

  .text-position {
    bottom: 50px;
  }

  .register-header {
    margin: 2%;
  }

  .register-paragraph {
    display: flex;
    text-align: center;
    padding: 2%;
  }

  .register-info {
    background-color: white;
    align-items: center;
    display: flex;
    flex-direction: column;
    border-radius: 15px;
    justify-content: center;
    width: 80vw;
    margin: 5%;
    padding: 5%;
  }

  .register-bg {
    border-style: solid;
    border-width: 10px;
    align-items: center;
    border-color: white;
    display: flex;
    background-image: url('/public/assets/img/pattern.png');
    background-size: cover;
    flex-direction: column;
  }

  form {
    display: flex;
    flex-direction: column;
    padding: 1%;
    margin: 1%;
    text-align: left;
    width: 72vw;
  }

  .register-button {
    align-self: center;
    background-color: var(--baby-blue);
    box-shadow: none;
    font-weight: bold;
    border-style: none;
    font-size: 1rem;
    margin: 7vw;
    width: 150px;
    height: 50px;
    border-radius: 50px;
    cursor: pointer;
  }

  input {
    border: none;
    height: 5vh;
    margin: 3%;
    font-size: 0.9rem;
    padding: 2%;
  }

  .love-letter {
    width: 90vw;
    margin: 6%;
  }

  .timmy-tommy {
    max-width: 300px;
    margin: 5%;
    filter: drop-shadow(5px 5px 5px rgb(48, 48, 48));
  }

  .bottom-border {
    display: flex;
    width: 100vw;
  }

  label {
    font-weight: bold;
    position: relative;
    left: 10px;
    top: 1px;
  }

  footer {
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    background-color: var(--yellow);
  }

  .footer-info-wrapper {
    display: flex;
    flex-direction: column;
    width: 90vw;
    font-size: 13px;
    align-self: center;
    line-height: 1.3;
  }

  .happy-campers {
    display: flex;
    align-self: center;
    width: 300px;
    margin: 2%;
    position: relative;
  }

  .nintendo-online {
    width: 15vw;
  }

  .nintendo-seal {
    display: flex;
    width: 50px;
    height: auto;
  }

  .footer-logos {
    display: flex;
    margin: 1%;
    position: relative;
    justify-content: space-evenly;
  }

  a {
    text-decoration: none;
  }

  .creators {
    display: flex;
    align-self: center;
    font-size: 0.9rem;
    gap: 0.5em;
    position: relative;
    margin: 2%;
  }

  .nb {
    display: flex;
    margin: 2%;
    position: relative;
    font-style: italic;
    align-self: center;
    font-size: 7px;
  }
}
