/* Header. */
header {
  background-image: url('/public/assets/img/pattern.png');
  background-size: cover;
  height: auto;
  border-radius: 15px;
}

.text-on-img-wrapper {
  position: relative;
  text-align: center;
}

.speech-bubble {
  width: 60vw;
}

section {
  display: flex;
  justify-content: center;
  margin: 2%;
  padding: 2%;
}
