:root {
  /* Site palette. */
  --color1: #396791;
  --color2: #75c9cc;
  --color3: #55a86e;
  --color4: #fed035;
  --color5: #ffffff;

  /* 2nd site palette. */
  --colour1: #f0c3b5;
  --colour2: #f9e0d3;
  --colour3: #eeede8;
  --colour4: #bce3e0;
  --colour5: #89cfd2;

  /* 3rd alternative site palette. */
  --ccolour1: #fce1d6;
  --ccolour2: #efcfdc;
  --ccolour3: #d8c9e6;
  --ccolour4: #c7dcee;
  --ccolour5: #ccf2f6;

  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: var(--ccolour4);
  display: flex;
  flex-direction: column;
}

header,
footer {
  align-items: center;
  background-color: var(--ccolour4);
  border-radius: 7px;
  display: flex;
  justify-content: space-evenly;
  margin: 2%;
  padding: 2%;
}

main {
  align-content: center;
  background-color: var(--ccolour4);
  border-radius: 7px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 2%;
  padding: 2%;
}

.info-container {
  background-image: url('/public/assets/img/nookscranny-celebrate.jpg');
  display: flex;
}

section {
  display: flex;
  justify-content: center;
  border-radius: 7px;
  margin: 2%;
  padding: 2%;
}

.form-wrapper {
  display: flex;
  align-self: center;
  background-color: var(--ccolour4);
  width: 80%;
}
