@font-face {
  font-family: 'Fink Heavy Medium';
  src: url('/public/assets/fonts/FinkHeavyMedium.otf');
}

* {
  font-family: 'Fink Heavy Medium', Arial, Verdana, 'Courier New', Helvetica,
    sans-serif;
}

@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP&display=swap');

.sign-up-explanation,
.personalized-name,
p,
a,
b,
.speech-bubble-text {
  font-family: 'Noto Sans JP', sans-serif;
}

label,
button,
input {
  font-family: 'Noto Sans JP', sans-serif;
}

.capitalize {
  text-transform: capitalize;
}

@media screen and (max-width: 560px) and (min-width: 0px) {
  * {
    font-family: Arial, Helvetica, sans-serif;
  }
}
