@font-face {
  font-family: 'Fink Heavy Medium';
  src: url('/public/assets/fonts/FinkHeavyMedium.otf');
}

* {
  font-family: 'Fink Heavy Medium', Verdana, Arial, Helvetica, sans-serif;
}

@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP&display=swap');

p {
  color: darkcyan;
}

.sign-up-explanation,
p,
a,
b,
.speech-bubble-text {
  font-family: 'Noto Sans JP', sans-serif;
}

.mabels-speech {
  padding-top: 8%;
}

label,
button {
  font-family: 'Noto Sans JP', sans-serif;
}

.capitalize {
  text-transform: capitalize;
}
