.animal-crossing-wordmark {
  animation-duration: 3s;
  animation-name: tilt;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

@keyframes tilt {
  from {
    transform: rotate(10deg);
  }

  to {
    transform: rotate(-10deg);
  }
}

main {
  animation-duration: 5s;
  animation-name: background-gradient;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

@keyframes background-gradient {
  from {
    background: linear-gradient(-10deg, var(--color2), var(--color1));
  }

  to {
    background: linear-gradient(10deg, var(--color2), var(--color1));
  }
}
