.animal-crossing-wordmark {
  animation-duration: 3s;
  animation-name: tilt;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

@keyframes tilt {
  from {
    transform: rotate(10deg);
  }

  to {
    transform: rotate(-10deg);
  }
}

.isabelle,
.tom,
.mabel,
.animal-round {
  position: relative;
  animation: move 2s infinite;
  animation-direction: alternate;
}

@keyframes move {
  0% {
    top: -5px;
  }

  100% {
    top: 5px;
  }
}
