* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  flex-direction: column;
}

main {
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: center;
}

.yellow-circle-border {
  display: flex;
  flex-direction: row;
  background: url('/public/assets/img/circle.svg');
  height: 50px;
  background-size: 70px 50px;
  width: 100vw;
  background-color: pink;
  -webkit-box-shadow: ;
  -moz-box-shadow: ;
  box-shadow: -10px -15px 25px pink, 10px 0px 0px var(--yellow);
  background-repeat: repeat-x;
}
