* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

body {
  display: flex;
  flex-direction: column;
}

main {
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: center;
}

.yellow-circle-border {
  display: flex;
  flex-direction: row;
  background: url('/public/assets/img/circle.svg');
  height: 50px;
  background-size: 70px 50px;
  width: 100vw;
  background-color: pink;
  position: relative;
  bottom: -1px;
  box-shadow: -5px -20px 20px pink;
  background-repeat: repeat-x;
}

.dante:hover {
  background: var(--baby-blue);
  border-radius: 30px;
}

.josefin:hover {
  background: var(--color1);
  border-radius: 30px;
}
