/* Media queries. Break points. Resizing for user optimization. */

/* ------------------- [ SMARTPHONES. ] ------------------- */
@media screen and (max-width: 560px) {
  main {
    display: flex;
    justify-content: center;
    text-align: center;
  }

  .nintendo-logo {
    width: 150px;
  }

  .nintendo-seal {
    width: 200px;
  }

  .animal-crossing-text {
    display: flex;
    width: 250px;
  }

  .tom-wave {
    width: 250px;
  }

  .nintendo-seal {
    width: 100px;
  }

  .isabelle {
    width: 30vw;
  }

  .text-on-img-wrapper {
    position: relative;
    text-align: center;
  }

  .chat-img {
    width: 60vw;
  }

  .centered-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  .one-of-three-imgs {
    width: 30vw;
  }

  label,
  button,
  input {
    margin: 1%;
  }
}

/* ------------------- [ TABLETS. ] ------------------- */
@media screen and (min-width: 560px) {
  main {
    display: flex;
    justify-content: center;
    text-align: center;
  }

  .nintendo-logo {
    width: 150px;
  }

  .nintendo-seal {
    width: 200px;
  }

  .animal-crossing-text {
    display: flex;
    width: 250px;
  }

  .tom-wave {
    width: 250px;
  }

  .one-of-three-imgs {
    width: 30vw;
  }

  .isabelle {
    width: 30vw;
  }

  .text-on-img-wrapper {
    position: relative;
    text-align: center;
  }

  .chat-img {
    width: 60vw;
  }

  .centered-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  .nintendo-seal {
    width: 100px;
  }

  label,
  button,
  input {
    margin: 1%;
  }

  .container {
    position: relative;
    text-align: center;
    padding: 2%;
  }
}
/* ------------------- [ DESKTOPS AND LARGER SCREENS. ] ------------------- */
@media screen and (min-width: 1024px) {
  main {
    display: flex;
    justify-content: center;
    text-align: center;
  }

  .nintendo-logo {
    width: 150px;
  }

  .nintendo-seal {
    width: 200px;
  }

  .animal-crossing-text {
    display: flex;
    width: 250px;
  }

  .letter {
    display: flex;
    width: 50px;
  }

  .tom-wave {
    width: 250px;
  }

  .nintendo-seal {
    width: 100px;
  }

  .one-of-three-imgs {
    width: 30vw;
  }

  .isabelle {
    width: 30vw;
  }

  .text-on-img-wrapper {
    position: relative;
    text-align: center;
  }

  .chat-img {
    width: 60vw;
  }

  .centered-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  label,
  button,
  input {
    margin: 1%;
  }
}
