/* Media queries. Break points. Resizing for user optimization. */

/* ------------------- [ SMARTPHONES. ] ------------------- */
@media screen and (max-width: 560px) {
  main {
    display: flex;
    justify-content: center;
    text-align: center;
  }

  .nintendo-logo {
    width: 150px;
  }

  .header-img {
    display: flex;
    width: 250px;
  }

  .letter {
    display: flex;
    width: 50px;
  }

  .info-container {
    display: flex;
    background-image: url('/public/assets/img/nookscranny-celebrate.jpg');
    background-repeat: no-repeat;
    width: 100%;
    align-content: center;
    justify-content: center;
    height: 800px;
  }

  .info-text {
    display: flex;
    align-self: center;
    background-color: var(--color5);
    padding: 5%;
    border-radius: 10px;
    opacity: 0.9;
  }

  .tom-wave {
    width: 250px;
  }

  .tom-money {
    width: 250px;
  }

  .nintendo-seal {
    width: 100px;
  }

  .one-of-three {
    width: 30vw;
  }

  .form-wrapper {
    display: flex;
    padding: 3%;
    border-radius: 5px;
    justify-content: center;
  }

  label,
  button,
  input {
    margin: 1%;
  }
}

/* ------------------- [ TABLETS. ] ------------------- */
@media screen and (min-width: 560px) {
  main {
    display: flex;
    justify-content: center;
    text-align: center;
  }

  .nintendo-logo {
    width: 150px;
  }

  .header-img {
    display: flex;
    width: 250px;
  }

  .letter {
    display: flex;
    width: 50px;
  }

  .info-container {
    display: flex;
    background-image: url('/public/assets/img/nookscranny-celebrate.jpg');
    background-repeat: no-repeat;
    width: 100%;
    align-content: center;
    justify-content: center;
    height: 800px;
  }

  .info-text {
    display: flex;
    align-self: center;
    background-color: var(--color5);
    padding: 5%;
    border-radius: 10px;
    opacity: 0.9;
  }

  .tom-wave {
    width: 250px;
  }

  .tom-money {
    width: 250px;
  }

  .one-of-three {
    width: 30vw;
  }

  .nintendo-seal {
    width: 100px;
  }

  .form-wrapper {
    display: flex;
    justify-content: center;
    padding: 3%;
    border-radius: 5px;
  }
  label,
  button,
  input {
    margin: 1%;
  }
}
/* ------------------- [ DESKTOPS AND LARGER SCREENS. ] ------------------- */
@media screen and (min-width: 1024px) {
  main {
    display: flex;
    justify-content: center;
    text-align: center;
  }

  .nintendo-logo {
    width: 150px;
  }

  .header-img {
    display: flex;
    width: 250px;
  }

  .letter {
    display: flex;
    width: 50px;
  }

  .info-container {
    display: flex;
    flex-direction: column;
    background-image: url('/public/assets/img/nookscranny-celebrate.jpg');
    background-repeat: no-repeat;
    width: 100%;
    align-content: center;
    justify-content: center;
    height: 800px;
  }

  .info-text {
    display: flex;
    align-self: center;
    background-color: var(--color5);
    font-size: 3rem;
    padding: 5%;
    border-radius: 10px;
    opacity: 0.9;
  }

  .tom-wave {
    width: 250px;
  }

  .tom-money {
    width: 250px;
  }

  .nintendo-seal {
    width: 100px;
  }

  .one-of-three {
    width: 30vw;
  }

  .form-wrapper {
    display: flex;
    justify-content: center;
    padding: 3%;
    border-radius: 5px;
  }
  label,
  button,
  input {
    margin: 1%;
  }
}
