.nintendo-logo {
	width: 150px;
}

.header-img {
	display: flex;
	width: 250px;
}

.burger-icon {
	display: flex;
	width: 50px;
}

.info-container {
	display: flex;
	background-image: url('/public/assets/img/nookscranny-celebrate.jpg');
	background-repeat: no-repeat;
	width: 100%;
	align-content: center;
	justify-content: center;
	height: 800px;
}

.info-text {
	display: flex;
	align-self: center;
	background-color: var(--color5);
	padding: 5%;
	border-radius: 10px;
	opacity: 0.9;
}

.tom-wave {
	width: 250px;
}

.nintendo-seal {
	width: 100px;
}
