p {
  color: pink;
}

.camp {
  width: 90vw;
  border-radius: 15px;
}

.camp-text {
  padding: 5%;
  border-radius: 25px;
  opacity: 0.8;
}

.bottom-box {
  display: flex;
  width: 100%;
}

.footer-info-wrapper {
  display: flex;
  text-align: left;
}

.footer-logos {
  position: absolute;
  display: flex;
  bottom: 1%;
  left: 1%;
  padding: 5%;
}

.logo-space {
  margin: 10%;
}

.happy-campers {
  position: absolute;
  right: 1%;
  padding: 5%;
  bottom: 2%;
}

.footer-info-wrapper {
  display: flex;
  flex-direction: column;
  position: absolute;
  line-height: 2.5rem;
  bottom: 40%;
  left: 10%;
}

a {
  text-decoration: none;
  margin: 5px;
}
