.preload {
  align-items: center;
  background: var(--yellow);
  display: flex;
  height: 100vh;
  justify-content: center;
  position: fixed;
  top: 0;
  width: 100%;
  flex-direction: column;
  transition: all 1s ease-in-out;
  z-index: 1;
}

.preload-logo-animation {
  margin: 2%;
}

.preload-complete {
  opacity: 0;
  pointer-events: none;
}
